---
import InputLabel from './InputLabel.astro';

interface SelectInputOption {
  value: string;
  label: string;
}

interface Props {
  name: string;
  label: string;
  options: SelectInputOption[];
  selectedValue?: string;
}

const { options, label, name, selectedValue = '' } = Astro.props;

const selectedOption = options.find((option) => option.value === selectedValue);
---

<div>
  <InputLabel name={name} label={label} />

  <select
      id={name}
      name={name}
      class="block w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 bg-white text-gray-900"
    >
      {options.map((option: SelectInputOption) => (
        <option value={option.value} selected={option.value === selectedValue}>{option.label}</option>
      ))}
  </select>
</div>